.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .img {
        padding: 1.1rem 2.3rem 1.3rem 2.3rem;
        border: 1px solid #5D5B5A;
        margin-left: 5rem;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        img {
            width: 20rem;
            padding: 1.5rem 2rem 5rem 2rem;
            border: 1px solid #5D5B5A;

            &:hover {
                width: 18rem;
                cursor: pointer;

            }
        }

        h3 {
            color: #5D5B5A;
            font-size: 1.3rem;
            position: absolute;
            margin-bottom: 3rem;
        }

        p {
            word-spacing: .9rem;
            margin-bottom: .2rem;
            color: #fff;
            font-size: 2rem;
            font-size: 1.3rem;
            position: absolute;

            span {
                color: green;
                font-weight: bold;
            }
        }
    }
}